/**
 * Created by Gustavo on 10/04/23.
 */


.category-name {
    font-size: 16px;
    font-weight: bold;
}

.product-name {
    font-weight: bold;
}

.product {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 10px 10px 0;
}