/**
 * Created by Gustavo on 21/06/2022.
 */


.custom-content {
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.custom-title {
    background: #f9f9f900;
    border: none;
    border-radius: 0;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 15px;
}